/* Cor de fundo da página */
body {
    background-color: #f0f0f0; /* Cor de fundo da página */
    color: #333; /* Cor do texto da página */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
}

/* Estilos do banner */
.banner {
    background: #4CAF50; /* Cor de fundo do banner */
    color: white; /* Cor do texto no banner */
    text-align: center; /* Centraliza o texto no banner */
    padding: 50px 20px; /* Espaçamento interno no banner */
    margin-bottom: 20px; /* Espaçamento abaixo do banner */
}

.banner h1 {
    font-size: 2.5em; /* Tamanho da fonte do título no banner */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.banner p {
    font-size: 1.2em; /* Tamanho da fonte da mensagem no banner */
}
