* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000; /* Fundo preto */
    color: #fff;
    text-align: center;
}

.banner {
    background: linear-gradient(135deg, #007bff, #0056b3); /* Banner azul normal */
    padding: 50px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #0056b3;
    }
    to {
        box-shadow: 0 0 20px #007bff, 0 0 40px #007bff, 0 0 60px #0056b3;
    }
}

h1 {
    font-size: 3em;
}

p {
    margin-top: 10px;
    font-size: 1.2em;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Estilos para a foto de perfil redonda */
.profile-pic {
    margin-bottom: 20px;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Faz a imagem ficar redonda */
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-me {
    margin-top: 50px;
    text-align: left;
    padding: 20px;
}

.about-me h2 {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 20px;
}

.about-me ul {
    list-style: none;
}

.about-me ul li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.about-me ul li strong {
    color: #007bff;
}

