/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 20px 0;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0;
}

.banner {
    background: #000000; /* Cor de fundo do banner */
    color: rgb(15, 100, 226); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 50px 20px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento abaixo do banner */
}

.banner h1 {
    font-size: 2.5em; /* Tamanho da fonte do título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.banner p {
    font-size: 1.2em; /* Tamanho da fonte da mensagem */
}