* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000000;
    text-align: center;
}

.banner {
    background: linear-gradient(135deg, #1500ff, #0d00ff); /* Azul escuro */
    padding: 50px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #004080;
    }
    to {
        box-shadow: 0 0 20px #00ccff, 0 0 40px #00ccff, 0 0 60px #004080;
    }
}

h1 {
    font-size: 3em;
}

p {
    margin-top: 10px;
    font-size: 1.2em;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

